@font-face {
    src: url("/public/fonts/minecraft-dungeons.ttf");
    font-family: "Dungeons"
}

@font-face {
    src: url("/public/fonts/mont.otf");
    font-family: "Mont";
}

body {
    overflow-x: hidden;
}

#hero-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-color: #3F3F3F4D;
    opacity: 50%;
    position: absolute;
    left: 0;
}

#hero {
    opacity: 100%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;


}


#hero-header {
    font-size: 4rem;
    font-family: "Dungeons";
    margin-top: 200px;
    margin-left: 100px;
    color: #D7D4D4;
    opacity: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

#hero-subheader {
    font-family: "Mont";
    font-size: 2rem;
    /* text-align: center; */
    margin-left: 180px;

}

#hero-cards {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    gap: 30px;
}

.hero-card {
    width: 567px;
    height: 318px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}